<img src="{{ attributes.image_url }}" width="200" height="200" alt="{{ full_name }}" class="bio-image shadowed" />

<div class="bio-text">
  <h1 class="name">{{ full_name }}</h1>

  <h2 class="bio">
    {{ attributes.bio }}
  </h2>

  <h3 class="mission">
    {{ attributes.mission }}
  </h3>

  <div class="follow">
    <div class="follow-button button">Follow</div>

    <div class="followers">
    </div>
  </div>

</div>